*.a
*.dll
*.dylib
*.o
*.so
*~
.deps
ObjPgSQL.xcodeproj/project.xcworkspace
ObjPgSQL.xcodeproj/xcuserdata
aclocal.m4
autom4te.cache
buildsys.mk
config.log
config.status
configure
extra.mk
src/ObjPgSQL.framework
tests/tests
tests/tests.exe
